In [2]:
# The code was removed by Watson Studio for sharing.

   Survived  Pclass  Sex   Age  Siblings.Spouses  Parents.Children     Fare
0         0       3    0  22.0                 1                 0   7.2500
1         1       1    1  38.0                 1                 0  71.2833
2         1       3    1  26.0                 0                 0   7.9250
3         1       1    1  35.0                 1                 0  53.1000
4         0       3    0  35.0                 0                 0   8.0500